<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toyProject.dao.AlbumDAO">
	<select id="albumList" resultType="albumVO">
		select * from mou_album
	</select>

	<select id="getLastAno" resultType="String">
		select max(ano) as photoNO from mou_album
	</select>

	<insert id="addPhoto" useGeneratedKeys="true" keyColumn="ano">
		insert
		into mou_album(ano,id,title,content,imageFileName)
		values(#{ano},#{id},#{title},#{content},#{imageFileName})
	</insert>
	
	<select id="findByAno" resultType="albumVO">
		select * from mou_album where ano=#{ano}
	</select>

</mapper>