<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toyProject.dao.reply.BoardReplyDAO">

	<select id="boardReplyList" resultType="boardReplyVO">
		select * from board_reply where bno=#{bno}
	</select>
	
	<insert id="addBoardReply">
		insert into board_reply(b_rno, bno, reply, writer) 
		values(seq_board_reply.nextval,#{bno},#{reply},#{writer})
	</insert>
	
	<update id="updateCountPlus">
		update mou_board set replycount=replycount+1 where bno=#{bno}
	</update>
	
	<delete id="removeBoardReply">
		delete from board_reply where b_rno=#{b_rno}
	</delete>
	
	<update id="updateCountMinus">
		update mou_board set replycount=replycount-1 where bno=#{bno}
	</update>
	
	<update id="modifyBoardReply">
		update board_reply set reply=#{reply}, modifyDate=sysdate where b_rno=#{b_rno}
	</update>
	
	<select id="boardReplyDetail" resultType="boardReplyVO">
		select * from board_reply where b_rno=#{b_rno}
	</select>

</mapper>