<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toyProject.dao.QnaDao">

	<select id="qnaList" resultType="qnaVO">
		<![CDATA[
		select
			rownum, qno, title, writer, writeDate
		from
			(select
				/*+index_desc(mou_qna pk_qna)*/
				rownum as rn, qno, title, writer, writeDate
			from mou_qna where rownum <= #{maxRow})
		where rn > #{minRow}
		]]>
	</select>
	
	<select id="totalCount" resultType="int">
		select count(qno) as count
		from mou_qna
	</select>

	<select id="recentQnaList" resultType="qnaVO">
		<![CDATA[
		select
			rownum, qno, title, writer, writedate
		from 
			(select
				/*+index_desc(mou_qna pk_qna)*/
				rownum as rn, qno, title, writer, writedate
			from mou_qna where rownum <= 5)
		where rn > 0
		]]>
	</select>
	
	<select id="findByQno" resultType="qnaVO">
		select * from mou_qna where qno = #{qno}
	</select>

</mapper>