<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toyProject.dao.QnaReplyDAO">

	<select id="qnaReplyList" resultType="qnaReplyVO">
		select * from qna_reply where qno=#{qno} 
	</select>

	<insert id="addQnaReply">
		insert into qna_reply(q_rno, qno,
		reply, writer)
		values(qna_reply_seq.nextval,#{qno},#{reply},#{writer})
	</insert>

	<update id="updateCountPlus">
		update mou_qna set replyCount=replyCount+1 where
		qno=#{qno}
	</update>
	
	<delete id="removeQnaReply">
		delete from qna_reply where q_rno=#{q_rno}
	</delete>

	<update id="updateCountMinus">
		update mou_qna set replyCount=replyCount-1 where
		qno=#{qno}
	</update>

</mapper>